<link rel="icon" type="image/png" href="{{ 'images/favicon.png' | relative_url }}">
<title>Rahul Garg | AI Engineer</title>

<section id="downloads">
  
  <div style="
    text-decoration : none;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    align-content: flex-start;
">    
    <a href="https://github.com/RahulGarg10/RahulGarg10">Projects</a>
    <a href="https://github.com/RahulGarg10/RahulGarg10">Resume</a>
    <a href="https://github.com/RahulGarg10/RahulGarg10">Blog</a>
   </div>
</section>
