
.certificates-page h1 {
    color: #63c0f5;
    text-align: center;
    margin-bottom: 60px;
   
}


/* 15-Column Grid Layout */
 .certificates-page .card-container {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* fallback */
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 80px;
    max-width: 1000px;
    width: 100%;
}

/* Individual Card Styling */
 .certificates-page .card {
    
  /*  border-radius: 8px; */    
    overflow: hidden;
     all: unset; /* to remove any other card css one of which is from homepage */
}



/* Image style */
 .certificates-page .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  border-radius: 8px;
}

/* Card content padding */
.certificates-page .card-content {
  /*  padding: 20px;  */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    gap: 10px;
}

/* Card Title */
 .certificates-page .card-title {  
   text-align: center;
}

/* Verify Link styled as a button */
 .certificates-page .card-link {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none
}



/* Responsive design for tablets and mobile */
@media (max-width: 768px) {
   .certificates-page .card-container {
        grid-template-columns: repeat(2, 100px); /* fallback */
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
   .certificates-page .card-container {
        grid-template-columns: 1fr;
    }
}
